

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

*{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

/* shared */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.dark-1{
    color: #181818;
}
.dark-3{
    color: #757575;
}
.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 19px 36px;
    border: none;
    border-radius: 5px;
    
}
.btn-primary:hover{
     color: black

}

  /* nav  */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 150px;
  }
  
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}
  .nav-titel{
    font-weight: 800;
    font-size: 45px;
  }

/* header styles */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}
/* banner styles */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 150px;
}
.banner-pro-pic {
    width: 580px;
}  

.banner-content {
    max-width: 580px;
}
.banner-grettings{
    font-size: 45px;
    font-weight: 600px;
    margin: 0 0;
}
.banner-titel{
    font-size: 85px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-discription {
    font-size: 18px;
    margin-bottom: 30px;
}

/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about styles */

.about{
    background-color: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
    margin-top: 130px;
}
.about-titel{
    font-size: 35px;
    font-weight: bold;
}
.about-discription {
    font-size: 18px;
    line-height: 30px;
}
.ineer-about{
    background-color: #FFFFFF;
    max-width: 827px;
}
.about-items {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
}

.item-discription{
    font-size: 14px;
    font-weight: bold;
    color: #474747;
}
.item-titel{
        font-size: 12px;
        color: #757575;
}