

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* shared */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.dark-1{
    color: #181818;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 19px 36px;
    border: none;
    border-radius: 5px;
}

  /* nav  */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 150px;
  }
  
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}
  .nav-titel{
    font-weight: 800;
    font-size: 45px;
  }

/* header styles */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* banner styles */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 150px;
}
.banner-pro-pic {
    width: 580px;
}  

.banner-content {
    max-width: 580px;
}
.banner-grettings{
    font-size: 45px;
    font-weight: 600px;
}
.banner-titel{
    font-size: 85px;
    font-weight: bold;
    line-height: auto;
}
.banner-discription {
    font-size: 18px;
    line-height: 30px;
}